/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("variabels.css");
@import url("components/menu.css");
@import url("components/map-store.css");
@import url("components/footer.css");

/* Global Styles */
*::before,
*::after {
    box-sizing: border-box;
}   
body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--clr-white);  
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: #1A2A80;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: #7A85C1;
  transform: rotate(90deg);
}
.logo {
  width: 100%;
}
.menu-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.menu-links a {
  color: var(--clr-orange-1);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.menu-links a:hover {
  background: #fff;
  color: var(--clr-orange-2);
  padding-left: 1.5rem;
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .menu-links {
    height: auto;
    display: flex;
  }
  .menu-links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .menu-links a:hover {
    padding: 0;
    background: transparent;
    color: #7A85C1;
    font-size: 1.05rem;
  }
  
}

/* HERO */
.hero-image {
  background-image: url("../img/hero.jpg");
  width: 100% ;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* section */
/* .section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
} */






/*Hero Section
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('images/Hero-Curve.jpg');
  height: 100vh;
  width: 100% ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 16px 32px -8px rgba(0,0,0,0.4);
}
.hero-text {
  text-align: center;
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}
.hero-text p{
  font-size: 20px;
}
.hero-text button{
  border: solid 2px white;
  background: transparent;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.hero-text button:hover{
  background: #DAB5FF;
  color: #2B2B2B;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: #2B2B2B;
}*/

/*Tesemonial*/
@media screen and (min-width: 768px) {
  .testimonial{
      background-image: url('images/Testimonial-background.jpg');
      margin:0;
      height: auto;
      width: 100%;
  }
  .testimonial h2{
    text-align: center;
    padding: 50px;
    color: white;
    margin: 0;
  }
  .testimonial h3{
    text-align: center;
    padding: 20px;
    color: white;
  }
 
.testimonial-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  
}
.testimonial-box{
  background:rgba(255, 255, 255, 0.1);/*opacity:10%*/
  backdrop-filter: blur(10px);/*Background blur that makes it look like glass*/
  border: 1px solid rgba(255, 255, 255, 0.2);/*Light border to enhance the glass effect*/
  flex-direction: column;
  width: 400px;
  padding: 20px;
  box-shadow: 0 16px 32px -8px rgba(0,0,0,0.4);
  border-radius: 10px;
  text-align: center;
  transform-box: border-box;
  color:white
}
.testimonial-box img{
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
 }
}

 @media screen and (max-width: 768px) {
  .testimonial{
      background-image: url('images/Testimonial-background.jpg');
      margin: 0px;
  }
  .testimonial h2{
    text-align: center;
    padding: 50px;
    color: white;
        margin: 0;

  }
  .testimonial h3{
    text-align: center;
    padding: 20px;
    color: white;
  }
 
.testimonial-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  height: auto;
  
}
.testimonial-box{
background:rgba(255, 255, 255, 0.1);/*opacity:10%*/
  backdrop-filter: blur(10px);/*Background blur that makes it look like glass*/
  border: 1px solid rgba(255, 255, 255, 0.2);  
  width: 300px;
  padding: 20px;
  box-shadow: 0 16px 32px -8px rgba(0,0,0,0.4);
  border-radius: 10px;
  text-align: center;
  transform-box: border-box;
  color: white;
}
.testimonial-box img{
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
 }
 }