/* Variabels */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /*grey*/
  --clr-grey-1: #040404;
  --clr-grey-2: #0e0e0e;
  --clr-grey-3: #1a1a1a;
  --clr-grey-4: #212121;
  --clr-grey-5: #2b2b2b;
  --clr-grey-6: #333333;
  --clr-grey-7: #3d3d3d;
  --clr-grey-8: #454545;
  --clr-grey-9: #4f4f4f;
  --clr-grey-10: #5b5b5b;
  --clr-grey-11: #676767;
  --clr-grey-12: #818181;
  --clr-grey-13: #b6b4b4;
  --clr-grey-14: #e6e6e6;
  /* orange */
  --clr-orange-1: hsl(25, 98%, 40%);
    --clr-orange-2: hsl(25, 97%, 50%);
    --clr-orange-3: hsl(24, 94%, 59%);
    --clr-orange-4: hsl(24, 91%, 66%);
    --clr-orange-5: hsl(24, 87%, 73%);
    --clr-orange-6: hsl(24, 82%, 79%);
    --clr-orange-7: hsl(25, 77%, 85%);
    --clr-orange-8: hsl(26, 72%, 90%);
    --clr-orange-9: hsl(27, 65%, 95%);
    --clr-orange-10: hsl(28, 100%, 99%);
    /* brown */
    --clr-brown-1: hsl(20, 50%, 15%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --font-family: 'Arial', sans-serif;

  /* padding */
  --padding-small: 10px;
  --padding-medium: 30px;
  --padding-large: 50px;

/* radius */
  --radius-small: 5px;
  --radius-medium: 10px;
  --radius-large: 15px;
}