.main-content{
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.5rem 0;
  height: 200px;
}

footer {
  background-color: var(--clr-grey-14);
  color: var(--clr-white);
}

/* columns */
.main-content > div {
  padding: 0 0.5rem;
}

.links h3,
.contact-us h3,
.social-media h3 {
  margin-bottom: 0.6rem;
  color: var(--clr-grey-6);
}

.links a {
  display: block;
  color: var(--clr-grey-6);
  opacity: 0.95;
  margin: 0.15rem 0;
}
.links a:hover { color: var(--clr-primary-5); }

.contact-us img,
.social-media img {
  width: 20px;
  height: auto;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.contact-us .phone,
.contact-us .Address,
.social-media div {
  margin: 0.35rem 0;
  color: var(--clr-grey-6);
}

.copyright{
  text-align: center;
  padding: 0.75rem 0 1.25rem;
  font-size: 0.9rem;
  background: var(--clr-grey-12);
}

/* Desktop: three columns */
@media screen and (min-width: 800px) {
  .main-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .main-content > div { flex: 1; }
}