.map-image-container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: none;
width: 100%;
height: 500px;
margin: 2rem auto;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.store-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
}
.store-image{
   width: 100%;
  height: 500px;
  object-fit: cover;
  vertical-align: middle;
}
.store-container .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  width: 305px;
  height: 500px;
  font-size: 24px;
  line-height: 2;
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);
  transition: width 2s;  
}





.store-container .content:hover {
  
  width: 100%;
  padding-left: var(--padding-medium);
  padding-right: 0;
} 

.hours {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.row {
  display: flex;
  justify-content: space-between; 
  width: 250px;                   
}

.day {
  font-weight: bold;
}

.time {
  text-align: right;
}
.google-map {
  height: 500px;
  border: none;
  width: 50%;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width:1024px) {
  .map-image-container {
    flex-direction: column; 
    height: auto;

  }
  .store-container .content {
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  font-size: 20px;
  line-height: 2;
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);
  text-align: center;
  transition: none;
  width: 100%;
  }
  
  .google-map,
  .store-container {
    width: 100%;  
  }
  .hours {
    text-align: center;
    justify-items: center;
    justify-content: center;
  }
  .row
  {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
  }

  .time {
  text-align: right;
} 
.google-map {
  height: 500px;
  border: none;
  width: 100%;
}
}

/* mobile */
@media screen and (max-width: 767px) {
  .map-image-container {
    flex-direction: column; /* زیر هم */
    height: auto;
  }

  .google-map,
  .store-container {
    width: 100%;   /* هر کدام تمام عرض */
    height: 350px; /* مناسب موبایل */
  }

  .store-image {
    height: 350px;
  }

  .store-container .content {
    height: 350px;
  }
} 


/* @media (max-width: 900px) {
  .map-image-container {
    flex-direction: column; 
    height: auto;
  }

  .google-map,
  .store-container {
    width: 100%;   
    height: 350px; 
  }

  .store-image {
    height: 350px;
  }

  .store-container .content {
    height: 350px;
  }
} */









