.map-image-container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 20px;
width: 100%;
height: 500px;
margin: 2rem auto;
margin-bottom: 0;
position: relative;
z-index: 2;
box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); 

}

.store-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
}
.store-image{
   width: 100%;
  height: 500px;
  object-fit: cover;
  vertical-align: middle;
}
.store-container .content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  width: 380px;
  height: 500px;
  font-size: 24px;
  line-height: 2;
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);
  transition: width 2s;  
  box-sizing: border-box;

}

/* .store-container .content:hover {
  
  width: 100%;
  padding-left: var(--padding-medium);
  padding-right: 0;
}  */

@media (hover: hover) and (pointer: fine) {
  .store-container .content {
    transition: width 2s ease;
  }

  .store-container:hover .content {
    width: 100%;
  }
}

.hours {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.row {
  display: flex;
  justify-content: space-between; 
  width: 250px;                   
}

.day {
  font-weight: bold;
}

.time {
  text-align: right;
}
.google-map {
  height: 500px;
  border: none;
  width: 50%;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width:1024px) {
  .map-image-container {
    flex-direction: column; 
    height: auto;

  }
  .store-container .content {
  background-color: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  font-size: 20px;
  line-height: 2;
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);
  text-align: center;
  transition: none;
  margin: auto 0;
  width: 100%;
  }
  
  .google-map,
  .store-container {
    width: 100%;  
  }
  .hours {
  display: flex;
  flex-direction: column;
  align-items: center;   /* کل بلاک وسط صفحه */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 300px;          /* عرض ثابت برای تراز */
}

.day {
  text-align: left;
}

.time {
  text-align: right;
}

.google-map {
  height: 500px;
  border: none;
  width: 100%;
}
}


/* mobile */
@media screen and (max-width: 767px) {
  .map-image-container {
    flex-direction: column; 
    height: auto;

  }
  .store-container .content {
  background-color: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  font-size: 20px;
  line-height: 2;
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);
  text-align: center;
  transition: none;
  margin: auto 0;
  width: 100%;
  }
  
  .google-map,
  .store-container {
    width: 100%;  
  }
  .hours {
  display: flex;
  flex-direction: column;
  align-items: center;   /* کل بلاک وسط صفحه */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 300px;          /* عرض ثابت برای تراز */
}

.day {
  text-align: left;
}

.time {
  text-align: right;
}

.google-map {
  height: 500px;
  border: none;
  width: 100%;
}
} 


/* @media (max-width: 900px) {
  .map-image-container {
    flex-direction: column; 
    height: auto;
  }

  .google-map,
  .store-container {
    width: 100%;   
    height: 350px; 
  }

  .store-image {
    height: 350px;
  }

  .store-container .content {
    height: 350px;
  }
} */