/* Recipes Section */
.title {
  margin-bottom: 2rem;
  text-align: center;
  color: #D97D55;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  padding: 20px 0 20px 0;
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  background: #e3e2e2;
  border-radius: 5px;
  padding: 10px;
}
.photo {
  object-fit: cover;
  height: 200px;
  border: 1px solid orange;
  border-radius: 5px;
}
.photo :hover{
  transform: scale(1.01);
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}
.item-info {
  text-align: left;
  padding-left: 10px;
}
.item-info div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: var(--clr-gold);
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
.btn-container {
  text-align: center;
  margin-top: 2rem;
}
.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  color: var(--clr-dark);
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
}
.filter-btn:hover {
  background: rgb(243, 242, 242);
  color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.filter-btn.active {
  background: #3E3F29;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
