/* Recipes Section */
.title {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--clr-orange-1);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  /* max-width: 1170px; */
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  padding: 20px 0 20px 0;
}
.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  background:var(--clr-grey-14);
  border-radius: var(--radius-medium);
  padding: var(--padding-small);
  box-shadow: var(--clr-grey-14);
  box-shadow: inset;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.menu-item:hover {
 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.photo {
  object-fit: cover;
  height: 200px;
  border: 1px solid var(--clr-grey-13);
  border-radius: var(--radius-small);
  margin: 0 auto;
}
.photo :hover{
  transform: scale(1.01);
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}
.item-info {
  text-align: left;
  padding-left: var(--padding-large);
}
.item-info div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: var(--clr-orange-1);
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    width: 640px;
    max-width: 640px;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
.btn-container {
  text-align: center;
  margin-top: 2rem;
}
.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  color: var(--clr-dark);
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
}
.filter-btn:hover {
  background: rgb(243, 242, 242);
  color: #000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.filter-btn.active {
  background: #3E3F29;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.filter-btn:focus {
  background-color: var(--clr-orange-1);
  outline: none;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}